<html>
  <head>
    <title>Cinema</title>
  </head>
  <body>
    <pre><h2>    <a href="/movies">movies</a>   <a href="/signup">Signup</a>   <a href="/login">Login</a>   <a href="/about">About Us</a> <% if current_user %> <a href="/customers/<%= @current_user.slug %>">Pofile</a><% end %></h2></pre>
    <br></br>
    <%= yield %>
  </body>
</html>